body {
font-family:"Roboto", "Raleway", "Verdana", sans-serif;
color: #434455;
background-color: #FFFFFF;
font-style: normal;
}
ul {
    list-style-type: none;
}
h2 {
    color: #2E2F42;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
    line-height: 1.1;
}
h3  {
    color: #2E2F42;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20pt;
    letter-spacing: 2%;
    line-height: 1.2;
    }
p {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2%;
}
/*#region header*/
.logo_site {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height:1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.logo_span {
    color: #2E2F42;
}
.logo_link {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
    text-decoration: none;
}
.logo_link:hover,
.logo_link:active {
    color: #404BBF;
}
.logo_address {
    color:#434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2%;
    text-decoration: none;
}
.logo_address:hover {
    color: #404BBF;
}
/*#endregion*/
/*#region main page*/
.main_page {
    background-color: #2E2F42;
}
.page_title {
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 2%;
}
.buttons {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 4%;
    cursor: pointer;
}
.buttons:hover {
    background-color: #404BBF;
}
/*#endregion*/
/*#region features*/
.features_section {
    background-color: #FFFFFF;
}
/*#endregion*/
/*#region team leaders**/
.team_leaders_section {
    background-color: #F4F4FD;
}
/*#endregion*/
/*#region footer*/
.lowland {
    background-color: #2E2F42;
}
.logo_footer {
    color: #FFFFFF;
}
.text_footer {
    color: #F4F4FD;
}/*#endregion*/